---
import Layout from "../../../layouts/Layout.astro";
import Container from "../../../components/layout/Container.astro";
import DrawerComponent from "../../../components/ui/Drawer.astro";
---

<Layout title="Drawer Stories">
  <Container>
    <h1>Drawer stories</h1>
    <section>
      <h2>Left drawer</h2>
      <DrawerComponent triggerText="Open left" direction="left" title="Left drawer">
        <p>Content inside the left drawer.</p>
      </DrawerComponent>
    </section>

    <section style="margin-top:16px;">
      <h2>Right drawer</h2>
      <DrawerComponent triggerText="Open right" direction="right" title="Right drawer">
        <p>Content inside the right drawer.</p>
      </DrawerComponent>
    </section>

    <section style="margin-top:16px;">
      <h2>Bottom drawer</h2>
      <DrawerComponent triggerText="Open bottom" direction="bottom" title="Bottom drawer">
        <p>Content inside the bottom drawer.</p>
      </DrawerComponent>
    </section>
  </Container>
</Layout>