---
import Container from '../../../components/layout/Container.astro';
---

<Container>
  <h1>Design System Stories</h1>
  <p>Visual regression anchors and examples for primitives and patterns.</p>
  <ul>
    <li><a href="/ui/stories/buttons">Buttons</a></li>
    <li><a href="/ui/stories/surfaces">Surfaces</a></li>
    <li><a href="/ui/stories/typography">Typography</a></li>
    <li><a href="/ui/stories/inputs">Inputs</a></li>
    <li><a href="/ui/stories/table">Table</a></li>
    <li><a href="/ui/stories/dialog">Dialog</a></li>
  </ul>
</Container>
