---
import Layout from "../../../layouts/Layout.astro";
import Container from '../../../components/layout/Container.astro';
---

<Layout>
  <Container>
    <h1>Feedback primitives</h1>
    <p>Alerts, inline messages, and toasts provide consistent feedback patterns. See <a href="/ui/stories/feedback">feedback story</a> for interactive demos.</p>
  </Container>
</Layout>
